.t1-b1{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 1px
}

.tbt{
    width: 80px;
    height: 3px;
    background-color: black;
}

.hover-zoom {
    transition: transform 0.3s ease;
}

.hover-zoom:hover {
    transform: scale(1.1); /* Adjust the scale as needed */
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.card {
    position: relative;
    width: 300px; /* Fixed width */
    height:350px; /* Fixed height */
    margin: 20px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageContainer {
    height: 100%; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s
}

.mainImage {
    padding: 100px 0 0 10px;
    width: 90%;
    height: auto;
    transition: transform 0.3s;
}

.card:hover .mainImage {
    transform: scale(0.6); /* Shrink the image on hover */
}

.titleContainer {
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
}

.description {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
}

.card:hover .description {
    opacity: 1;
    transform: translateY(0);
}

.card:hover .imageContainer {
    transform: translateY(20);
    height: 40%;
}

.readMore {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
    background-color: #007bff; /* Button color */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.card:hover .readMore {
    opacity: 1;
    transform: translateY(0);
}
